*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto' ,sans-serif;
  }

  .main-section{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../../assets/images/cloth2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-line .logo{
    height: 200px;
    display: block;
    margin: auto;
  }
  .content-line .sheading{
    color: #fff;
    text-transform: capitalize;
    font-size: 40px;
    text-align: center;
    font-weight: 200;
    margin-top: 15px;
  }
  .products{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
  }
  .product-head{
    padding: 0 10vw;
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 25px;
  }
  
  .product-container{
    padding: 0 10vw;
    overflow-x: auto;
    display: flex;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar{
    display: none;
  }
  .product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
    position: relative;
  }
  .card-post{
    right: 0;
  }
  .product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  .product-thumb{
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  .discount{
    text-transform: capitalize;
    padding: 5px;
    position: absolute;
    right: 10px;
    background: #fff;
    color: deeppink;
    top: 10px;
    border-radius: 5px;
  }
  .card-btn{
    text-transform: capitalize;
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background: #666;
    color: #fff;
    opacity: 0;
  }
  .product-card:hover .card-btn{
    opacity: 1;
  }
  .card-btn:hover{
    background: #000;
  }
  .product-info{
    padding-top: 10px;
    width: 100%;
    height: 20px;
  }
  .product-name{
    text-transform: uppercase;
  }
  .product-detials{
    width: 100%;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  .price{
    font-weight: 900;
    font-size: 20px;
  }
  .real{
    text-decoration: line-through;
    margin-left: 20px;
    opacity: 0.5;
  }
  .pre-btn , .nxt-btn{
    cursor: pointer;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255 ,0) 0% ,#fff 100%);
    border: none;
    z-index: 8;
  }
  .pre-btn{
    left: 0;
    transform: rotate(180deg);
  }
  .nxt-btn{
    right: 0;
  }
  .pre-btn img ,.nxt-btn img{
    opacity: 0.2;
  }
  .pre-btn:hover img ,.nxt-btn:hover img{
    opacity: 1;
  }
  .collection-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 10px;
  }
  .collection{
    position: relative;
  }
  .collection img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  .collection-para{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
    text-transform: capitalize;
    font-size: 80px;
    font-weight: 500;
    color: #fff;
  }
  .collection:nth-child(3){
    grid-column: span 2;
    margin-bottom: 10px;
    height: 100%;
  }
  .foot{
    padding: 40px 10vw 80px;
    position: relative;
    width: 100%;
    background: #2c2a2a;
  }
  .lastContent{
  display: flex;
  width: 100%;
  justify-content: space-between;
  }
  .lastContent .logo{
    height: 160px;
  }
  .foot-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
  }
  .list{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    list-style: none;
  }
  .list-head{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    grid-column: span 2;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .list-links{
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(255, 255, 255 ,0.5);
  }
  .list-links:hover{
    color: #fff;
  }
  .para-head ,.info{
    margin: 20px 0;
    text-transform: capitalize;
    color: rgba(255, 255, 255 , 0.5);
  }
  .para-head{
    color: #fff;
    margin-top: 50px;
    font-size: 28px;
  }
  .social-act{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  .social-link:nth-child(1){
    margin-left: 0;
  }
  .social-link{
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
  }
  .the-end{
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0,0.3);
    text-transform: capitalize;
  }
  