
<!-- <script>
  const proContainer =[document.querySelectorAll('.product-container')];
  const nxt = [document.querySelectorAll('.nxt-btn')];
  const pre = [document.querySelectorAll('.pre-btn')];

  proContainer.forEach((item , i)=>{
    let containerDin = item.getBoundingClientRect();
    let containerWidth = containerDin.width;

    nxt[i].addEventListener('click', ()=>{
      item.scrollLeft += containerWidth;
    })

    pre[i].addEventListener('click', ()=>{
      item.scrollLeft -= containerWidth;
    })
  })
</script> -->

  <!-- <router-outlet></router-outlet> -->
  <section class="main-section">
    <div class="content-line">
      <img src="assets/images/aven.png" class="logo">
      <p class="sheading">super best collect of all kind</p>
    </div>
  </section>
  
  <section class="products">
    <h2 class="product-head">best seller</h2>
    <button class="pre-btn"><img src="assets/images/arrow.png" alt=""></button>
    <button type="button" class="nxt-btn" (click)="showChange()"><img src="assets/images/arrow.png" alt=""></button>
    <div class="product-container">
      <div class="product-card" [ngClass]="{'card-post' : isOn }">
        <div class="product-image">
          <span class="discount">50% off</span>
          <img class="product-thumb" src="assets/images/men1.jpg" >
          <button type="button" (click)="com()" class="card-btn">add to cart</button>
        </div>
        <div class="product-info">
          <h2 class="product-name">new brand</h2>
          <p class="product-detials">here is the info of the product</p>
          <span class="price">$20</span><span class="real">$40</span>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <span class="discount">50% off</span>
          <img class="product-thumb" src="assets/images/men2.jpg" >
          <button type="button" (click)="com()" class="card-btn">add to cart</button>
        </div>
        <div class="product-info">
          <h2 class="product-name">new brand</h2>
          <p class="product-detials">here is the info of the product</p>
          <span class="price">$20</span><span class="real">$40</span>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <span class="discount">50% off</span>
          <img class="product-thumb" src="assets/images/men3.jpg" >
          <button type="button" (click)="com()" class="card-btn">add to cart</button>
        </div>
        <div class="product-info">
          <h2 class="product-name">new brand</h2>
          <p class="product-detials">here is the info of the product</p>
          <span class="price">$20</span><span class="real">$40</span>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <span class="discount">50% off</span>
          <img class="product-thumb" src="assets/images/men4.jpg" >
          <button type="button" (click)="com()" class="card-btn">add to cart</button>
        </div>
        <div class="product-info">
          <h2 class="product-name">new brand</h2>
          <p class="product-detials">here is the info of the product</p>
          <span class="price">$20</span><span class="real">$40</span>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <span class="discount">50% off</span>
          <img class="product-thumb" src="assets/images/men5.jpg" >
          <button type="button" (click)="com()" class="card-btn">add to cart</button>
        </div>
        <div class="product-info">
          <h2 class="product-name">new brand</h2>
          <p class="product-detials">here is the info of the product</p>
          <span class="price">$20</span><span class="real">$40</span>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <span class="discount">50% off</span>
          <img class="product-thumb" src="assets/images/men6.jpg" >
          <button type="button" (click)="com()" class="card-btn">add to cart</button>
        </div>
        <div class="product-info">
          <h2 class="product-name">new brand</h2>
          <p class="product-detials">here is the info of the product</p>
          <span class="price">$20</span><span class="real">$40</span>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <span class="discount">50% off</span>
          <img class="product-thumb" src="assets/images/men7.jpg" >
          <button type="button" (click)="com()" class="card-btn">add to cart</button>
        </div>
        <div class="product-info">
          <h2 class="product-name">new brand</h2>
          <p class="product-detials">here is the info of the product</p>
          <span class="price">$20</span><span class="real">$40</span>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <span class="discount">50% off</span>
          <img class="product-thumb" src="assets/images/men8.jpg" >
          <button type="button" (click)="com()" class="card-btn">add to cart</button>
        </div>
        <div class="product-info">
          <h2 class="product-name">new brand</h2>
          <p class="product-detials">here is the info of the product</p>
          <span class="price">$20</span><span class="real">$40</span>
        </div>
      </div>
    </div>
  </section>
  
  <section class="collection-container">
    <a href="#" class="collection">
      <img src="assets/images/icon.jpg" alt="">
      <p class="collection-para">dress</p>
    </a>
    <a href="#" class="collection">
      <img src="assets/images/icon2.jpg" alt="">
      <p class="collection-para">shoes</p>
    </a>
    <a href="#" class="collection">
      <img src="assets/images/icon3.jpg" alt="">
      <p class="collection-para">pants</p>
    </a>
  </section>
  
  
  <footer class="foot">
    <div class="lastContent">
      <img src="assets/images/aven.png" class="logo" alt="">
      <div class="foot-container">
        <ul class="list">
          <li class="list-head">dress</li>
          <li><a href="#" class="list-links">shirts</a></li>
          <li><a href="#" class="list-links">t-shirts</a></li>
          <li><a href="#" class="list-links">pants</a></li>
          <li><a href="#" class="list-links">track</a></li>
          <li><a href="#" class="list-links">casuals</a></li>
          <li><a href="#" class="list-links">formals</a></li>
          <li><a href="#" class="list-links">sport</a></li>
          <li><a href="#" class="list-links">event</a></li>
          <li><a href="#" class="list-links">discount dress</a></li>
        </ul>
        <ul class="list">
          <li class="list-head">shoes</li>
          <li><a href="#" class="list-links">shocks</a></li>
          <li><a href="#" class="list-links">belt</a></li>
          <li><a href="#" class="list-links">tie</a></li>
          <li><a href="#" class="list-links">chain</a></li>
          <li><a href="#" class="list-links">boots</a></li>
          <li><a href="#" class="list-links">lace</a></li>
          <li><a href="#" class="list-links">sport</a></li>
          <li><a href="#" class="list-links">accessories</a></li>
          <li><a href="#" class="list-links">discount dress</a></li>
        </ul>
      </div>
  
    </div>
    <p class="para-head">company</p>
      <p class="info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
         printer took a galley of type and scrambled it to make a type specimen book. It has survived not
         only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
         It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
         and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
         <p class="info">support email - help@dress.com</p>
         <p class="info">telephone - 4000 4000 4000 4000</p>
         <div class="social-act">
           <div>
             <a href="#" class="social-link">terms & service</a>
             <a href="#" class="social-link">privacy policy</a>
           </div>
           <div>
             <a href="#" class="social-link">facebook</a>
             <a href="#" class="social-link">instagram</a>
             <a href="#" class="social-link">twitter</a>
           </div>
         </div>
         <p class="the-end">dress & shoes are available @ online website</p>
  </footer>
  