
<nav class="navbar">
  <div class="nav">
    <img class="brand-logo" src="assets/images/aven.png">
    <div class="nav-items">
      <div class="search">
        <input type="text" class="search-box" placeholder="Search Brand">
        <button class="search-btn">Search</button>
      </div>
      <a href="#" class="nav-icon"><span><i class="bi bi-person-circle"></i></span></a>
      <a href="#" class="nav-icon"><span><i class="bi bi-cart-fill"></i></span></a>
    </div>
  </div>
  <ul class="link-container">
    <li class="link-item"><a href="#" class="link">home</a></li>
    <li class="link-item"><a  class="link">dress</a></li>
    <li class="link-item"><a href="#" class="link">shoes</a></li>
    <li class="link-item"><a href="#" class="link">pants</a></li>
    <li class="link-item"><a href="#" class="link">accessories</a></li>

  </ul>
</nav>

<router-outlet></router-outlet>

<app-main></app-main>