.navbar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(236, 234, 234);
  z-index: 9;

}
.brand-logo{
  height: 60px;
}
.nav{
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
}
.nav-items{
  display: flex;
  align-items: center;
}
.search{
  display: flex;
  width: 600px;
  height: 40px;
}
.search-box{
  width: 80%;
  height: 40px;
  border: 1px solid #d1d1d1;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0px 10px 0px;
  
  color: #a9a9a9;
  background: none;
}
.search-btn{
  border: none;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgb(0, 0, 0);
  color: #d1d1d1;
  font-size: 15px;
  width: 20%;
  height: 40px;
  padding: 10px 20px;
  cursor: pointer;
}
.search-box::placeholder{
  color: #999090;
}
.nav-icon{
  /* height: 40px; */
  /* width: auto; */
  margin-left: 15px;
  font-size: 40px;
  color: #000;
}
.bi .bi-person-circle , .bi .bi-cart-fill{
  height: 40px;
  /* font-size: 40px; */
  width: fit-content;
}
.link-container{
  width: 100%;
  padding: 10px 0vw;
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  border-top: 1px solid #d1d1d1;
}
.link{
  padding: 0px 10px;
  cursor: pointer;
  margin: 0px 5px;
  text-decoration: none;
  text-transform: capitalize;
  opacity: 0.5;
  color: rgb(75, 69, 69);
  transition: .5 ease-out;
}
.link:hover{
  opacity: 1;
}