
<section class="product-info">
    <div class="slider" id="slider">
      <div class="proImages">
          <img [src]="image1"  role="button"(click)="attin()" id="first" class="active" alt="">
          <img [src]="image2" role="button"(click)="bttn()" id="sec" alt="">
          <img [src]="image3" role="button"(click)="sttn()" id="third" alt="">
          <img [src]="image4" role="button"(click)="mttn()" id="four" alt="">
      </div>
    </div>
    <div class="full-detial">
        <h2 class="pro-detial">brand</h2>
        <p class="pro-info">orem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <span class="pro-price">$49</span>
        <span class="pro-real">$100</span>
        <span class="pro-discount">( 50% 0ff)</span>

        <p class="size-heading">Select size</p>

        <input type="radio" name="size" checked hidden value="s">
        <label class="size point">s</label> 
        <input type="radio" name="size" hidden value="m">
        <label class="size">m</label> 
        <input type="radio" name="size" hidden value="l">
        <label class="size">l</label> 
        <input type="radio" name="size" hidden value="xl">
        <label class="size">xl</label> 
        <input type="radio" name="size" hidden value="xxl">
        <label class="size">xxl</label> 

        <button class="both btn-cart">add to cart</button>
        <button class="both btn-wish">add to wishlist</button>
    </div>
  </section>

  <section class="description">
      <h2 class="des-head">description</h2>
      <p class="para">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
  </section>
  <!-- <script>
      const proImage = document.querySelectorAll(".proImages img");
      const proSlider = document.querySelector(".slider");

      let activeSlider = 0;
      proImage.forEach((item,i) =>{
          item.addEventListener('click' , ()=>{
              proImage[activeSlider].classList.remove('active');
              item.classList.add('active');
              proSlider.setAttribute.style.backgroundImage = `url('${item.src}')`
              activeSlider = i;
          })
      })
  </script> -->