.product-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px 10vw;
  width: fit-content;
  }
  .slider{
    height: 500px;
    width: 500px;
    position: relative;
    object-fit: cover;
  }
  .image1-css{
    background: url('../../assets/images/productimage1.png');
  }
  .image2-css{
      background: url('../../assets/images/productimage2.png');
  }
  .image3-css{
      background: url("../../assets/images/productimage3.png");
  }
  .image4-css{
    background: url("../../assets/images/productimage4.png");
}
  .proImages{
      position: absolute;
      bottom: 20px;
      left: 50%;
      border-radius: 5px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      transform: translateX(-50%);
      background: #fff;
      padding: 10px;
      width: 90%;
      /* height: 110px; */
  }
  .proImages img{
      height: 80px;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
  }
  .proImages img.active{
      opacity: 0.5;
  }
  .full-detial{
      width: 50%;
  }
  .pro-detial{
      text-transform: capitalize;
      font-size: 30px;
  }
  .pro-info{
      /* line-height: 20px; */
      font-size: 30px;
      height: auto;
      margin: 15px 0 30px;
  }
  .pro-price{
      font-size: 50px;
      font-weight: 700;
  }
.pro-real{
    font-size: 30px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0 20px;
    font-weight: 300px;
}
.pro-discount{
    font-size: 50px;
    color: indianred;
}
.size-heading{
    font-size: 50px;
    font-weight: 100;
    text-transform: capitalize;
    margin: 50px 0px 20px;
}
.size{
    display: inline-block;
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    margin: 10px;
    border-radius: 50%;
    line-height: 80px;
    cursor: pointer;
    color: #383838;
    border: 1px solid #383838;
    margin-left: 0%;
}
.size.point{
    background: #383838;
    color:#fff;
}
.both{
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 20px;
}
.btn-cart{
    background: #383838;
    color: #fff;
    margin-right: 2%;
}
.description{
    text-transform: capitalize;
    padding: 0 10vw;
}
.des-head{
    font-size: 30px;
    margin: 30px;
}
.para{
    color: #383838;
    line-height: 25px;
}